.admin-main-container{
    overflow-x: hidden;
}
.workshops-heading{
    color:#318CE7;
    margin-left:15px;
    margin-top: 15px;
}

.header{
    background-color:#318CE7;
    display: flex;
    justify-content: space-between;
    padding-right: 2% !important;
    align-items: center;
    padding: 1%;
    height:80px;
    width:100vw;
}
.sub-container{
    display: flex;
    padding: 1%;
    justify-content: space-between;
    
}
.workshop-heading{
    color: white;
    font-weight: bold;
}

.logout-button{
    background-color: white;
    color:#318CE7;
    font-weight: bold;
}
.cons{
    margin-top: 30px;
    margin-left: 20px;
}

.main-cons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}