.errormsg{
    color: red;
}
.header{
    background-color: #318CE7;
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: center;
    padding: 1%;
    height:80px;
    width:100vw;
}
.form-heading{
    color:  #318CE7;
    font-weight: bold;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70vw;
}
.create-sub-container{
    display: flex;
    justify-content: center;
    margin-top:30px;
}
#workshopname{
    margin-bottom: 20px;
}
.workshop-label{
    margin-top: 20px;
}