.workshop-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    border-radius: 30px;
    padding: 3.5%;
    color:#318CE7;
    width:400px;
    background-color:#FAF9F6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.05);
    margin-top: 25px;
    margin-right: 45px;

}

.date{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    color: #475569;
}
li{
    list-style: none;
}